#App {
    display: grid;
    grid-template-columns: 150px 700px auto;
    grid-template-areas:
        'tags main side';
}

#pasting-form {
    grid-area: main;
}

#pasting-text {
    width: 700px;
    height: 800px;
}

#codeDisplayBox {
    grid-area: main;
}

td pre {
    margin: 0;
    border: 0;
    border-radius: 0;
}
